header {
  font-size: 3vmin;
  border: 0.5vmin solid lime;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .btn.logo {
    position: relative;
    width: 5vmax;
    height: 5vmax;
    border: unset;

    &:hover,
    &:focus {
      transform: scale(1.2);
      transition: transform 0.2s ease-in-out;
    }
  }

  nav button {
    background: transparent;
    border: 0.25vmin solid lime;
    padding: 0.5em;
    margin: auto 1em;
    cursor: pointer;
  }
}
