:root {
  /* ghostwhite floralwhite */
  --background: floralwhite;
  --foreground: #171717;

  --color-btn-main: #87ac30;
  --color-btn-secondary: var(--background);
}

html {
  scrollbar-width: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.page-bg {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url("../../public/logo-csr.png");
  background-size: 10%;
  background-position: center;
  opacity: 0.25;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 3vmin;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 3vmin;
  background-color: transparent;

  width: 100vw;
  height: 90vh;
}

.btn {
  font-size: 1em;
  padding: 0.5em 1em;
  margin: 0.5em 1em;
  color: var(--color-btn-main);
  background: var(--color-btn-secondary);
  border: 0.5vmin solid var(--color-btn-main);
  border-radius: 0.5em;
  cursor: pointer;
  outline: none;

  &:hover {
    color: var(--color-btn-secondary);
    background: var(--color-btn-main);
  }
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 4em 2em;
  color: black;
  border-radius: 1em;
  border: 0.1em solid black;
  background-color: ghostwhite;
  text-align: center;

  .options {
    display: flex;
    flex-direction: column;
  }

  input {
    font-size: 1em;
    margin: 0.5em auto;

    padding: 0.25em;
    border: 0.1em solid black;
  }

  .text {
    font-size: 0.8em;
  }

  .btn {
    --color-btn-secondary: ghostwhite;
  }
}
